

.career__left {
	float: left;
	width: 220px;
}

.career__right {
	float: right;
	width: 450px;
}

.career__item:hover .career__block {
	background-color: #33c1e3;
} 


.career_item:hover *{
	color: #fff;
}

.career__picture {
	overflow: hidden;
	border-radius: 10px;
}

.career__picture-img {
	display: block;
	width: 220px;
	height: 220px;
}


.career__item:hover * {
	color: #fff;
}

.career__item:hover .career__year {
	color: #33c1e3;
	font-weight: bold;
} 

.career__item:hover .career__year:after {
	border-color: #94e0f2;
}

.career__item:first-child .career__block:before {
	display: none;
}

.career__item:last-child .career__block:after {
	display: none;
}

.career__item {
	text-align: right;
	font-size: 0;
	margin-bottom: 15px;
}




.career__block {
	display: inline-block;
	width: 380px;
	position: relative;
	background-color: #fff;
	border-radius: 10px;
	text-align: left;
	box-shadow: 1px 2px 3px rgba(0,0,0, .2);
	padding: 15px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	&:before, 
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 1px;
		background-color: #ddd;
		left: -18px;
	}
	&:before {
		top: 0;
		bottom: 50%;
	}

	&:after {
		bottom: -20px;
		top: 50%;
	}
}



.career__name {
	font-size: 21px;
	color: #5a5a5a;
	margin-bottom: 5px;
}

.career__type, .career__date {
	font-size: 18px;
	font-family: "FiraSansLight";
}

.career__year {
	font-size: 14px;
	position: absolute;
	right: 100%;
	top: 50%;
	color: #727272;
	margin-right: 32px;
	margin-top: -5px;
}

.career__year:after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: #33c1e3;
	border: 5px solid #f6f6f6;
	position: absolute;
	right: -25px;
	top: 50%;
	z-index: 1;
	margin-top: -10px;
	border-radius: 50%;
}

.career_block:hover {
	color: #fff;
}

