.footer__container {
	
}

.footer__left {
	float: left;
}

.footer__right {
	float: right;
}

.footer__left {
	padding-top: 14px;
}

.copyright {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 14px;
	color: #9c9c9c;
	vertical-align: middle;

}

.footer__right {
	text-align: right;
	padding-top: 10px;
}

.socials__list {
	font-size: 0;
}

.socials__item {
    display: inline-block;
    
    margin-left: 8px;
     text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.socials__link {
    display: block;
    height: 100%;
   	width: 32px;
    height: 30px;
    background-image: url(../img/icons/spritesheet.png);
    background-repeat: no-repeat;
}

.socials__link-fb {
	background-position: -6px -6px;
	&:hover {
		background-position: -49px -6px;
	}
}

.socials__link-vk {
	background-position: -178px -6px;
	&:hover {
		background-position: -222px -6px;
	}
}

.socials__link-tw {
	background-position: -92px -6px;
	&:hover {
		background-position: -135px -6px;
	}
}